<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Mysql.Data.MySqlClient" />
      <add name="MySql data provider" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="AddressBook"
         connectionString="Server=localhost;Uid=root;Database=addressbook;Port=3306;Pwd=;charset=utf8;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>